*{
    padding: 0;
    margin: 0;
    
}

.websiteBody {
    padding: 15px;
}
footer {
    padding: 15px;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBarMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.navBarMenuItems{
    padding: 10px;
    font-size: 20px;
}

.navBarLoginItems{
    padding: 10px;
    font-size: 20px;
}

.navBarLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainScreen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.mainImg {
    height: 300px;
    border-radius: 10px;
}

.aboutText{
    padding: 15px;
}

.membershipsList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

li {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.footerList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vollkronSCText {
    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    font-style: normal;
}

.heading{
    font-size: 50px;
}

.Vidaloka{
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
}

.membershipsdiv{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}
.membershipsRegular{
    background-color: #B37F56 ;
}

.removeBullets{
    list-style: none;
    padding: 5px;
    padding-top: 10px;
}

.membershipsRoast{
    background-color: #906644 ;
}

.membershipsGround{
    background-color: #734F33 ;
}
.footerList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: #F6E9E3;
}

footer {
    background-color: #E3CFC2;
}